body {
  margin: 0 auto;
  padding: 0;
}

.navbarr {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40%;
  height: inherit;
  float: left;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  margin-top: 20px;
}
.logomiddle {
  width: 8%;
  height: 40px;
  float: left;
  background: black;
  color: white;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(40deg);
}

.menu {
  width: 60%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style-type: none;
}
.menu ul li {
  float: left;
  margin-left: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: grey;
}
.menu ul li a:hover {
  color: brown;
}

.center {
  width: 100%;
  height: 655px;
  float: left;
  background-image: url("http://aetherthemes.com/demo/visia/images/hero.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middlecenter {
  width: 100%;
  height: 250px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 150px;
  height: 80px;
  background: transparent;
  border: 2px solid white;
  color: white;
}

.creative {
  font-size: 50px;
  color: white;
}

/* .middlecentertext{
    width: 100%;
    height: 50%;
    float: left;
} */
.middlecenterbtn {
  color: white;
  float: left;
}

.middle {
  width: 100%;
  height: 700px;
  /* background: green; */
  display: flex;
  justify-content: center;

  float: left;
}
.middletext {
  width: 600px;
  height: 300px;
  float: left;
  /* display: flex;
   justify-content: center;
   align-items: flex-start; */
  text-align: center;
  margin-top: 90px;
  /* margin-left: 300px; */
}

.border {
  display: block;
  width: 80px;
  height: 4px;
  background: black;
  margin: 0 auto;
}
.subtext {
  margin-top: 48px;
}

.middleimg {
  width: 100%;
  height: 400px;
  float: left;
  display: flex;
  justify-content: center;
}
.middle2 {
  width: 100%;
  height: 700px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section3back {
  width: 100%;
  height: 500px;
  float: left;
  background-image: url("https://aetherthemes.com/demo/visia/images/services-red.jpg");
  /* margin-top: 90px; */
}
.section3text {
  width: 600px;
  height: 150px;
  float: left;
  /* display: flex;
    justify-content: center;
    align-items: flex-start; */
  text-align: center;
  margin-top: 90px;
  color: white;
}
.section3icon {
  width: 100%;
  height: 200px;
  float: left;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionicon3 {
  display: flex;
  gap: 80px;
}
.bi {
  /* margin-left: 90px; */
  color: white;
  /* border: 3px solid white;
    outline: 1px solid white;
    border-radius: 50%; */
}

.circle {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
  border: 2px solid white;
  /* margin-left: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  width: 100%;
  height: 500px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 {
  width: 100%;
  height: 230px;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-top: 70px;
}

.section4 ul li {
  float: left;
  margin: 20px;
}

.section4 ul {
  list-style-type: none;
}

.karti {
  width: 100%;
  height: 700px;
  float: left;
  /* background: green; */
  box-sizing: border-box;
}
.sweet_candy {
  width: 25%;
  height: 400px;
  float: left;
  /* background: red; */
  flex-direction: column;
}

.karti_img {
  width: 100%;
  height: 300px;
  /* background: pink; */
  box-sizing: border-box;
}
.karti_text {
  width: 100%;
  height: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.karti_img img {
  width: 100%;
  height: 300px;
}

.active {
  color: #ee3b16;
}

.section5 {
  width: 100%;
  height: 750px;
  float: left;
  /* background: green; */
  /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; */
  margin-top: 170px;
}
.section5_text {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.section5_osnova {
  width: 100%;
  height: 250px;
  float: left;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}
.section5_kart {
  width: 30%;
  height: 250px;
  float: left;
  /* border: 2px solid black; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section5_icon {
  float: left;
  margin: 10px;
}

.section5_icon svg {
  margin: 10px;
}
.section5_img {
  width: 100%;
  height: 400px;
  float: left;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.section6 {
  width: 100%;
  height: 400px;
  background: #060606;
  float: left;
}

.section6_navigation {
  width: 100%;
  height: 150px;
  float: left;
  /* background: green; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.phone {
  width: 30%;
  height: 150px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  float: left;
  display: flex;
  justify-content: center;
}
.phone a {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  color: #494949;
  justify-content: center;
}

.phone a:hover {
  color: white;
}
.section6_icon {
  width: 100%;
  height: 80px;
  float: left;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6_icon a {
  text-decoration: none;
}
.section6_icon a svg {
  margin: 20px;
}
.section6_icon a svg:hover {
  color: grey;
}

.section6_final {
  width: 100%;
  height: 30px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #77777a;
  word-spacing: 2px;
  letter-spacing: 2px;

  margin-top: 20px;
}
